<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>Vamos a realizar una preguntas</p>
    <a href="/quizes/question">Ir a preguntas</a>
  </body>
</html>
