<label>Pregunta</label>
<!--utilizan notación pseudo JSON que permite indicar que son propiedades de un objeto
quiz. El middleware bodyparser.urlencoded(..) los analiza correctamente y genera
el objeto req.body.quiz , si quitamos el parámetro de configuración {extended: false}
que express-generator incluyo cuando generó el proyecto.-->
<input class="form-control" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>">
<br>
<label>Respuesta</label>
<input class="form-control" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>">
<br>
<label>Tema</label>
<select name="quiz[tema]">
    <option value="otro" selected>Otro</option>
    <option value="humanidades">Humanidades</option>
    <option value="ocio">Ocio</option>
    <option value="ciencia">Ciencia</option>
    <option value="tecnologia">Tecnología</option>
</select>
<br><br>

<button type="submit" class="btn btn-success">Salvar</button>
<a href="/quizes" class="btn btn-danger">Cancelar</a>
