<br>
<div class="col-lg-4">
    <div class="<%= color %>">
        <div class="panel-heading">
            <%= respuesta %>
        </div>
        <div class="panel-body">
            <p>LA RESPUESTA ES, <%= respuesta %></p>
        </div>
        <div class="panel-footer">
            <a class="btn btn-primary" href="/quizes/question">Intenelo otra vez</a>
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>