<label>Realize una busqueda</label>
<!--utilizan notaci칩n pseudo JSON que permite indicar que son propiedades de un objeto
quiz. El middleware bodyparser.urlencoded(..) los analiza correctamente y genera
el objeto req.body.quiz , si quitamos el par치metro de configuraci칩n {extended: false}
que express-generator incluyo cuando gener칩 el proyecto.-->
<input class="form-control" name="quiz[pregunta]" value="<%= quiz.pregunta %>>">
<br>
<label>Realize una busqueda</label>
<input class="form-control" name="quiz[respuesta]" value="<%= quiz.respuesta %>>">
<br>
<a href="/quizes" class="btn btn-success">Crear</a>
<button type="submit" class="btn btn-danger">Cancelar</button>